:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --black-background: #2f303a;
  --grey-button: #f5f4fa;
  --white: #fff;
  --black: #000;
  --grey: #eee;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--grey-text);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */

.page-header {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  text-decoration: none;
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

/* nav */

.nav-items {
  display: flex;
  gap: 50px;
}

.nav-item,
.nav-item:visited {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--black-text);

  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.active,
.active:visited {
  color: var(--accent);
}

/* contacts */

.header-contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-contact {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent);
}

/* hero */

.hero {
  text-align: center;
  background-color: var(--black-background);
}

.hero-heading {
  margin-bottom: 30px;

  color: var(--white);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.primary-btn {
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  border-radius: 4px;

  color: var(--white);
  background-color: var(--accent);
  border: none;

  font-family: var(--main-font);
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;

  cursor: pointer;
}

/* hidden headings */

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* first section */

.first-section {
  display: flex;
  gap: 30px;

  width: 1200px;
  margin: 0 auto;
  padding: 94px 15px 0 15px;
}

.first-section-subsection {
  width: 270px;
}

.first-section-heading {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--black-text);
}

.first-section-paragraph {
  line-height: 1.71;
}

/* section 2*/

.section {
  text-align: center;
  padding: 94px 15px;
  width: 1200px;
  margin: 0 auto;
}

.activities-photos {
  display: flex;
  gap: 30px;
}

.section-heading {
  margin-bottom: 50px;

  color: var(--black-text);

  font-weight: 700;
  font-size: 36px;
}

/* team section */

.team.list {
  display: flex;
  gap: 30px;

  text-align: center;
}

.team-subsection {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-photo {
  margin-bottom: 30px;
}

.team-name {
  color: var(--black-text);

  font-weight: 500;
  font-size: 16px;

  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;

  margin-bottom: 30px;
}

/* footer */

.page-footer {
  background-color: var(--black-background);
}

.address-link,
.address-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}

.first,
.first:visited {
  opacity: 1;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent);
}

.product {
  border: 1px solid var(--grey);
}

.product-heading {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.product-text {
  font-size: 16px;
  line-height: 1.88;
}

.radio-btn {
  color: var(--black-text);
  background-color: var(--grey);
  border: none;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.radio-btn:hover,
.radio-btn:focus {
  color: var(--white);
  background-color: var(--accent);
}
